* {
  margin: 0;
  padding: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

body {
  height: 100vh;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
}

.navbar ul li a:hover {
  color: skyblue;
}

